.popup__save-button {
  transition: .3s;
  margin-top: 18px;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 917px) {
  .popup__save-button {
    margin-top: 15px;
  }
}
