.popup__close-button {
  position: absolute;
  right: -39px;
  top: -42px;
  transition: .3s;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 917px) {
  .popup__close-button {
    right: 0;
    top: -36px;
  }
}
