.submit-button {
  border-radius: 2px;
  border: none;
  padding: 0;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  cursor: pointer;
}

@media screen and (max-width: 917px) {
  .submit-button {
    font-size: 14px;
    line-height: 1.21;
    height: 46px;
  }
}
