.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 119px;
  position: relative;
}

.header::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #545454;
  opacity: .7;
  content: '';
}

@media screen and (max-width: 917px) {
  .header {
    min-height: 84px;
    padding-left: 27px;
    padding-right: 27px;
  }
}
