.input-field {
  position: relative;
  padding: 0 0 9px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}
